extends layout

block content

  #divEvaluacionesGeneral.col-sm-12
      .my-content
        .container
          .row
            .col-lg-12.col-lg-offset-3.myform-cont
              .myform-top
                .myform-top-left
                  h3 #{nombre} - Listado de Evaluaciones
              .myform-bottom
                #divEvaluaciones.container
                  table#tablaEvaluaciones.table.table-hover
                    tbody
                      each eval in evaluaciones
                        tr
                          td #{eval.evaluacion_nombre}
                          td #{eval.descripcion}
                          if eval.publicada
                            td Nota: #{eval.nota}
                            td
                              button.btnEvaluaciones.btn.btn-primary.mr-2(id=eval.id_general, type="submit") Ver más...
                          else
                            td No Evaluado
                            td



block scripts-extra
  script(src='/javascripts/evaluacionesAlumno.js')
  script(src='/javascripts/tableResize.js')
