extends layout

block content

  #divEvaluarGeneral.col-lg-12
      .my-content
        .container
          .row
            .col-lg-12.col-lg-offset-3.myform-cont
              .myform-top
                #tituloEvaluar.myform-top-left
                  h2 #{nombreComision} - #{nombreEvaluacion}
                  h3 #{descripcionEvaluacion} (#{fechaEvaluacion})
              .myform-bottom
                #divEvaluar.col-lg-12
                  form#formEvaluacion(method="post" action="/evaluador/enviar")
                    |Criterios de Evaluacion
                    br
                    each val, index in criterios
                      label #{val.nombre}
                      select.criterioSelect(name=val.criterio_nota_id)
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                      textarea.form-control(rows="2" name=val.criterio_nota_id class="criterioText" cols="50" placeholder="Observación...")

                    label#comentario_general_label Comentario General
                    br
                    textarea.form-control(rows="4" name="comentario_general" required="true" cols="50" placeholder="Este campo es obligatorio")
                    br
                    label#nota_general_label  Nota General:
                    label#nota_general 1
                    br
                    input#backButton.btn.btn-primary.mr-2(type="button" value="Volver" align="center")
                    input#califButton.btn.btn-primary(type="submit" align="center" value="Enviar")


block scripts-extra
  script(src='/javascripts/evaluar.js')
