extends layout

block content

  #divEvaluacionesGeneral.col-sm-12
      .my-content
        .container
          .row
            .col-lg-12.col-lg-offset-3.myform-cont
              .myform-top
                .myform-top-left
                  h3 Listado de Evaluaciones
              .myform-bottom
                #divEvaluaciones.container
                  table#tablaEvaluaciones.table.table-hover
                    tbody
                      each val in evaluaciones
                        tr
                          td #{val.evaluacion_nombre} - #{val.comision_nombre}
                          td #{val.descripcion}
                          if val.publicada
                            td Nota: #{val.nota}
                            td Observacion: #{val.observacion}

                          else
                            td No Evaluado
                            td
                              button.btnEvaluaciones.btn.btn-primary.mr-2(id=val.id_general, type="submit") Evaluar

block scripts-extra
  script(src='/javascripts/evaluacionesEvaluador.js')
  script(src='/javascripts/tableResize.js')
