extends layout

block content

  #divEvaluarGeneral.col-lg-12
      .my-content
        .container
          .row
            .col-lg-12.col-lg-offset-3.myform-cont
              .myform-top
                #tituloEvaluar.myform-top-left
                  div
                    h1 #{nombreComision} - #{nombreEvaluacion}
                  div
                    h3 #{descripcionEvaluacion} (#{fechaEvaluacion})
              .myform-bottom2
                h4 Resultados
                ul
                  each val, index in criterios
                    li #{val}
                      ul
                        li Nota: #{notas_criterios[index].nota}
                        if (notas_criterios[index].observacion)
                          li #{notas_criterios[index].observacion}
                  li Nota Final: #{notaEvaluacion}
                  li Observaciones: #{observacionesEvaluacion}
                div.text-center
                  button.btn.btn-primary.mr-2(id="btnVolver") Volver




block scripts-extra
  script(src='/javascripts/evaluacionesAlumno.js')
  //script(src='/javascripts/evaluaciones.js')
